/*顶部导航开始*/
.nav-site{
	height: 44px;
	background:#f3f5f7;
}
.login{
	color: #ea675a;
}
.nav-left li{
	margin-right: 10px;
	line-height: 44px;
}
.nav-right .dropdown{
	position: relative;
	z-index: 3;
}
.nav-right .dropdown-toggle{
	position: relative;
	height: 44px;
	line-height: 44px;
	display: block;
	padding: 0 10px;	
}
.nav-right .dropdown-arrow{
	margin-left: 10px;
}
.nav-right .dropdown-layer{
	position: absolute;
	top:42px;
	background: #fff;
	border: 1px solid #f3f5f6;
	z-index: 2;
	display: none;
}
.nav-right .dropdown-item{
	z-index: 1;
	white-space: nowrap;
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
.nav-right .dropdown-item:hover{
	background: #f3f5f7;
}
.nav-right .dropdown:hover .dropdown-layer{
	display: block;
}
.nav-right .dropdown:hover .dropdown-toggle{
	background: #fff;
	border-left: 1px solid #f3f5f6;
	border-right: 1px solid #f3f5f6;
}
/*顶部导航结束*/
/*头部开始*/
.header-site{
	height: 100px;
	background:yellow;
}
/*头部结束*/
/*主导航开始*/
.main-nav{
	height: 50px;
	background:pink;
}
/*主导航结束*/
/*主要区域开始*/
.primary-site{
	height: 500px;
	background:green;
}
/*主要区域结束*/
/*今日热销开始*/
.today-site{
	height: 100px;
	background:orange;
}
/*今日热销结束*/
/*楼层1开始*/
.floor1{
	height: 300px;
	background:blue;
}
/*楼层1结束*/
/*楼层2开始*/
.floor2
/*楼层2结束*/
/*楼层3开始*/
.floor3
/*楼层3结束*/
/*楼层4开始*/
.floor4
/*楼层4结束*/