<!DOCTYPE html>
<html lang="en"><!-- layout布局的意思 -->
<head><!-- lauout是一个模板,供其他页面使用,改的时候只改这个页面 -->
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		nav{
			width: 100%;
			height: 100px;
			background:skyblue;
		}
		.content{
			float: left;
			width: 800px;
			height: 600px;
			background:pink;
		}
		.side{
			float: right;
			width: 200px;
			height: 600px;
			background:yellow;
		}
	</style>
</head>
<body>
	<nav>
		<a href="#">我的博客</a>
		<a href="#">关注我哦</a>
	</nav>
	<div>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<div class="side">
			slide
		</div>
	</div>
</body>
{% include "./footer.html" %}<!-- 引进js或css -->
</html>


