*{
	margin: 0;
	padding: 0;
}
.circle{
	.rem(font-size,20);
	.rem(margin-left,8);
	float: left;
	color:#969696;
}
@rem:32;
@border-color: #d7d7da;
.rem(@attr,@px1){
	@{attr}:unit(@px1/@rem,rem);
}
.rem(@attr,@px1,@px2){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem,rem);
}
.rem(@attr,@px1,@px2,@px3){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem,rem) unit(@px3/@rem,rem);
}

.header{
	.rem(height,45);
	.rem(line-height,45);
	.rem(font-size,20);
	.rem(width,320);
	border: 1px solid @border-color;
	box-sizing: border-box;
	.header-back{
		.rem(width,70);
		text-align: center;			
	}
	.header-title{
		.rem(width,180);			
		text-align: center;
		display: inline-block;	
	}
}
.space{
	.rem(height,45);
	.rem(line-height,45);
	.rem(width,320);
	text-align: center;	
	border: 1px solid @border-color;
	box-sizing: border-box;
	border-top: none;	
	.logo{
		.rem(margin-left,10);
		.rem(font-size,20);
		.rem(line-height,45);
		float: left;
		color:#969696;
	}
	.path{
		.rem(font-size,15);	
		.rem(margin-left,8);
		float: left;		
		color:#969696;
	}
	.right{  	
    	.rem(font-size,15);
    	.rem(margin-right,30);
    	float: right;
    	color:red;
  	}
}
.jd{
	.rem(height,45);
	.rem(line-height,45);
	.rem(font-size,18);
	.rem(width,320);
	box-sizing: border-box;
	border: 1px solid @border-color;
	border-top: none;
	.logo{
		.rem(margin-left,10);
		color:#969696;
		font-weight: bold;
	}
	.home{
		.rem(margin-left,10);
		font-weight: bold;
	}
}
.intro{
	.rem(height,45);
	.rem(line-height,45);
	.rem(font-size,15);
	.rem(width,320);
	box-sizing: border-box;
	color: #969696;
	border:1px solid @border-color;
	border-top: none;
	.ticket{
		.rem(margin-left,12);
	}
	.heavy{
		.rem(margin-left,6);
	}
	.carriage{
		.rem(margin-left,6);
	}
}
.product{
	.rem(height,160);
	.rem(width,320);
	box-sizing: border-box;
	border: 1px solid @border-color;
	border-top: none;
	cursor: pointer;
	.left{
		float: left;
		.product-img{
			.rem(width,60);
			.rem(height,77);
			.rem(margin-top,15);
			.rem(margin-left,25);
		}
	}
	.right{
		.rem(width,185);
		float: right;
		.thought{
			.rem(font-size,15);
			.rem(margin-top,17);
			display: inline-block;
			float: right;
			font-weight: bold;
		}
		.design{
			display: block;
			float: left;
			.rem(font-size,17);
			.rem(margin-left,0);			
		}
		.heavy{
			.rem(height,20);
			.rem(line-height,20);
			.rem(font-size,15);
			.rem(margin-top,8);
		}
		.symbol{
			.rem(font-size,20);
			color:#db292f;
		}		
		.treasure{
			.rem(margin-left,10);
		}		
		.price{
			.rem(margin-left,-70);
			.rem(margin-top,35);
			.rem(font-size,15);
			color:#db292f;
			float: left;
		}
		.stock{
			.rem(width,60);
			.rem(height,20);
			.rem(margin-left,100);
			.rem(margin-top,-20);
			display:block;
			float: left;
			.left{
				.rem(width,20);
				.rem(height,20);
				background: #ccc;
				display: inline-block;
				position: relative;
			}
			.symbol{
				.rem(font-size,15);
				.rem(margin-top,3);
				.rem(margin-left,2);
				position: absolute;
				color:#db292f;
			}
			.zero{
				.rem(width,20);
				.rem(height,20);
				.rem(font-size,15);
				.rem(margin-top,0);
				display: inline-block;
				position: absolute;
				text-align: center;
			}
			.right{
				.rem(width,20);
				.rem(height,20);
				.rem(margin-left,20);
				background: #ccc;
				display: inline-block;
				position: absolute;
			}
		}
		.focus{
			.rem(font-size,15);
			.rem(margin-top,10);
			.rem(margin-left,35);
			color:#929292;
			float:left;
		}
		.del{
			.rem(font-size,15);
			.rem(margin-top,10);
			.rem(margin-right,30);
			color:#929292;
			float: right;
		}
	}
	.bottom{
		.rem(width,285);
		.rem(height,40);
		.rem(margin-left,30);
		.rem(line-height,40);
		.rem(font-size,15);
		background:#fff4f5;
		float: left;
		.server{
			.rem(margin-left,30);
			color:#6a6666;
		}
		.gift{
			.rem(margin-left,15);
			color:#ccc;
		}
		.symbol{
			.rem(margin-right,25);
			float: right;
			color:#ccc;
		}
	}	
}
.payment{
	.rem(width,320);
	.rem(height,50);
	.rem(bottom,0);
	.rem(left,0);
	box-sizing: border-box;
	border: 1px solid @border-color;
	border-top:none;
	position: fixed;	
	background: #fff;
	.left{
		.rem(width,45);
		.rem(height,50);				
		float: left;
		position: relative;
		.left-logo{
			color:#db292f; 
			position: absolute;
			.rem(left,10);
			.rem(font-size,20);
		}
		.pay-circle{
			color:#969696;
			position: absolute;
			.rem(left,5);
			.rem(top,10);
		}
		.check{
			color:#969696;
			position: absolute;
			.rem(left,10);
			.rem(top,25);
			.rem(font-size,13);
		}
	}
	.center{
		.rem(width,170);
		.rem(height,50);
		.rem(font-size,12); 
		float: left;
		position: relative;
		.sum{
			.rem(top,5);
			.rem(left,10);
			font-weight:bold;
			position: absolute;
			.sum-text{
				.rem(font-size,15);
			}
			.sum-center{
				.rem(font-size,17);
				.rem(margin-left,30);
				text-align: center;
			}
			.sum-number{
				.rem(margin-left,10);
				color:#db292f;
			}
		}
		.total{
			.rem(top,25);
			.rem(left,8);
			.rem(font-size,12); 
			color: #969696;
			position: absolute;
			.total-number{
				.rem(margin-left,5);
			}
		}
	}
	.right{
		.rem(width,100);
		.rem(height,50);
		float: right;
		background: #db292f;
		.settle{
			.rem(margin-left,5);
			.rem(font-size,15);
			.rem(line-height,50);
			color:#fff;
		}
	}
}