* {
  margin: 0;
  padding: 0;
}
.circle {
  font-size: 0.625rem;
  margin-left: 0.25rem;
  float: left;
  color: #969696;
}
.header {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.625rem;
  width: 10rem;
  border: 1px solid #d7d7da;
  box-sizing: border-box;
}
.header .header-back {
  width: 2.1875rem;
  text-align: center;
}
.header .header-title {
  width: 5.625rem;
  text-align: center;
  display: inline-block;
}
.space {
  height: 1.40625rem;
  line-height: 1.40625rem;
  width: 10rem;
  text-align: center;
  border: 1px solid #d7d7da;
  box-sizing: border-box;
  border-top: none;
}
.space .logo {
  margin-left: 0.3125rem;
  font-size: 0.625rem;
  line-height: 1.40625rem;
  float: left;
  color: #969696;
}
.space .path {
  font-size: 0.46875rem;
  margin-left: 0.25rem;
  float: left;
  color: #969696;
}
.space .right {
  font-size: 0.46875rem;
  margin-right: 0.9375rem;
  float: right;
  color: red;
}
.jd {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.5625rem;
  width: 10rem;
  box-sizing: border-box;
  border: 1px solid #d7d7da;
  border-top: none;
}
.jd .logo {
  margin-left: 0.3125rem;
  color: #969696;
  font-weight: bold;
}
.jd .home {
  margin-left: 0.3125rem;
  font-weight: bold;
}
.intro {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.46875rem;
  width: 10rem;
  box-sizing: border-box;
  color: #969696;
  border: 1px solid #d7d7da;
  border-top: none;
}
.intro .ticket {
  margin-left: 0.375rem;
}
.intro .heavy {
  margin-left: 0.1875rem;
}
.intro .carriage {
  margin-left: 0.1875rem;
}
.product {
  height: 5rem;
  width: 10rem;
  box-sizing: border-box;
  border: 1px solid #d7d7da;
  border-top: none;
  cursor: pointer;
}
.product .left {
  float: left;
}
.product .left .product-img {
  width: 1.875rem;
  height: 2.40625rem;
  margin-top: 0.46875rem;
  margin-left: 0.78125rem;
}
.product .right {
  width: 5.78125rem;
  float: right;
}
.product .right .thought {
  font-size: 0.46875rem;
  margin-top: 0.53125rem;
  display: inline-block;
  float: right;
  font-weight: bold;
}
.product .right .design {
  display: block;
  float: left;
  font-size: 0.53125rem;
  margin-left: 0rem;
}
.product .right .heavy {
  height: 0.625rem;
  line-height: 0.625rem;
  font-size: 0.46875rem;
  margin-top: 0.25rem;
}
.product .right .symbol {
  font-size: 0.625rem;
  color: #db292f;
}
.product .right .treasure {
  margin-left: 0.3125rem;
}
.product .right .price {
  margin-left: -2.1875rem;
  margin-top: 1.09375rem;
  font-size: 0.46875rem;
  color: #db292f;
  float: left;
}
.product .right .stock {
  width: 1.875rem;
  height: 0.625rem;
  margin-left: 3.125rem;
  margin-top: -0.625rem;
  display: block;
  float: left;
}
.product .right .stock .left {
  width: 0.625rem;
  height: 0.625rem;
  background: #ccc;
  display: inline-block;
  position: relative;
}
.product .right .stock .symbol {
  font-size: 0.46875rem;
  margin-top: 0.09375rem;
  margin-left: 0.0625rem;
  position: absolute;
  color: #db292f;
}
.product .right .stock .zero {
  width: 0.625rem;
  height: 0.625rem;
  font-size: 0.46875rem;
  margin-top: 0rem;
  display: inline-block;
  position: absolute;
  text-align: center;
}
.product .right .stock .right {
  width: 0.625rem;
  height: 0.625rem;
  margin-left: 0.625rem;
  background: #ccc;
  display: inline-block;
  position: absolute;
}
.product .right .focus {
  font-size: 0.46875rem;
  margin-top: 0.3125rem;
  margin-left: 1.09375rem;
  color: #929292;
  float: left;
}
.product .right .del {
  font-size: 0.46875rem;
  margin-top: 0.3125rem;
  margin-right: 0.9375rem;
  color: #929292;
  float: right;
}
.product .bottom {
  width: 8.90625rem;
  height: 1.25rem;
  margin-left: 0.9375rem;
  line-height: 1.25rem;
  font-size: 0.46875rem;
  background: #fff4f5;
  float: left;
}
.product .bottom .server {
  margin-left: 0.9375rem;
  color: #6a6666;
}
.product .bottom .gift {
  margin-left: 0.46875rem;
  color: #ccc;
}
.product .bottom .symbol {
  margin-right: 0.78125rem;
  float: right;
  color: #ccc;
}
.payment {
  width: 10rem;
  height: 1.5625rem;
  bottom: 0rem;
  left: 0rem;
  box-sizing: border-box;
  border: 1px solid #d7d7da;
  border-top: none;
  position: fixed;
  background: #fff;
}
.payment .left {
  width: 1.40625rem;
  height: 1.5625rem;
  float: left;
  position: relative;
}
.payment .left .left-logo {
  color: #db292f;
  position: absolute;
  left: 0.3125rem;
  font-size: 0.625rem;
}
.payment .left .pay-circle {
  color: #969696;
  position: absolute;
  left: 0.15625rem;
  top: 0.3125rem;
}
.payment .left .check {
  color: #969696;
  position: absolute;
  left: 0.3125rem;
  top: 0.78125rem;
  font-size: 0.40625rem;
}
.payment .center {
  width: 5.3125rem;
  height: 1.5625rem;
  font-size: 0.375rem;
  float: left;
  position: relative;
}
.payment .center .sum {
  top: 0.15625rem;
  left: 0.3125rem;
  font-weight: bold;
  position: absolute;
}
.payment .center .sum .sum-text {
  font-size: 0.46875rem;
}
.payment .center .sum .sum-center {
  font-size: 0.53125rem;
  margin-left: 0.9375rem;
  text-align: center;
}
.payment .center .sum .sum-number {
  margin-left: 0.3125rem;
  color: #db292f;
}
.payment .center .total {
  top: 0.78125rem;
  left: 0.25rem;
  font-size: 0.375rem;
  color: #969696;
  position: absolute;
}
.payment .center .total .total-number {
  margin-left: 0.15625rem;
}
.payment .right {
  width: 3.125rem;
  height: 1.5625rem;
  float: right;
  background: #db292f;
}
.payment .right .settle {
  margin-left: 0.15625rem;
  font-size: 0.46875rem;
  line-height: 1.5625rem;
  color: #fff;
}
